{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'shared.html' import render_footer %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% include "flask-favicon.html" %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OBSIFLASK</title>
    {% if not injected_vars['config'].auth.enabled %}
    {{ bootstrap.load_css() }}
    {% if injected_vars['config'].default_user_config.theme_contrast_light %}
    <link rel="stylesheet" href="{{ url_for('static', filename='contrast_light.css') }}">
    {% endif %}
    {% if injected_vars['config'].default_user_config.theme_contrast_dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='contrast_dark.css') }}">
    {% endif %}
    {% else %}
    {{bootstrap.load_css(bootswatch_theme=injected_vars['user_configs'][current_user.username].bootstrap_theme)}}
    {% if injected_vars['user_configs'][current_user.username].theme_contrast_light %}
    <link rel="stylesheet" href="{{ url_for('static', filename='contrast_light.css') }}">
    {% endif %}
    {% if injected_vars['user_configs'][current_user.username].theme_contrast_dark %}
    <link rel="stylesheet" href="{{ url_for('static', filename='contrast_dark.css') }}">
    {% endif %}

    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div id="page-content" class="flex-grow-1 p-3" style="overflow:auto;">
        <div id="page-content-wrapper">
            {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        </div>
        {% block content %}{% endblock %}

        {% block footer %}
        {{ render_footer(injected_vars["version"]) }}
        {% endblock %}
        {{ bootstrap.load_js() }}
        <script src="{{url_for('static', filename='darkmode.js')}}"></script>
</body>

</html>