{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/form.html' import render_form%}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'shared.html' import render_footer %}


{% include "flask-favicon.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
     {{ bootstrap.load_js() }}

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% if injected_vars['config'].vaults[vault].short_title %}
        {{injected_vars['config'].vaults[vault].short_title}} (OBSIFLASK)
        {% else %}
        OBSIFLASK
        {% endif %}
    </title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    {% if injected_vars['config'].default_user_config.theme_contrast_light %}
        <link rel="stylesheet" href="{{ url_for('static', filename='contrast_light.css') }}">
    {% endif %}
    {% if injected_vars['config'].default_user_config.theme_contrast_dark %}
        <link rel="stylesheet" href="{{ url_for('static', filename='contrast_dark.css') }}">
    {% endif %}

</head>

<body>
    

    <div class="d-flex" id="wrapper" style="height:100vh; overflow:hidden;">

        <!-- Sidebar -->
        <div id="sidebar" class="bg-light border-end"
            style="width:420px; transition: width 0.3s; display:flex; flex-direction:column;">
            <div class="p-2 d-flex flex-column h-100">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    {% if page_editor %}
                    <span class="fs-4"><a href="{{url_for('editor_root', vault = vault)}}"
                            class="text-decoration-none">{{injected_vars['config'].vaults[vault].short_title or
                            "OBSIFLASK"}}</a></span>
                    {% else %}
                    <span class="fs-4"><a href="{{url_for('renderer_root', vault = vault)}}"
                            class="text-decoration-none">{{injected_vars['config'].vaults[vault].short_title or
                            "OBSIFLASK"}}</a></span>

                    {% endif %}
                    <button class="btn btn-sm btn-secondary" id="toggleSidebar">◀</button>
                </div>

                


                <div class="container-fluid">
                    <div class="row row-cols-3 g-2">
                        <div class="col">
                            <a href="{{url_for('index')}}" class="btn btn-primary w-100" title="Vault index">
                                <i class="bi bi-display  d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Vaults</small></span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{url_for('fileop', vault=vault, curdir=curdir, curfile=curfile)}}"
                                class="btn btn-primary w-100" title="File operations">
                                <i class="bi bi-file-earmark d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Files</small></span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{url_for('messages', vault=vault, unread=0)}}" class="btn btn-primary w-100"
                                title="Vault messages">
                                <i class="bi bi-chat-right-text d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Msg.</small></span>
                            </a>
                        </div>

                        <div class="col">
                            <a href="{{url_for('graph', vault=vault)}}" class="btn btn-primary w-100"
                                title="Global graph">
                                <i class="bi bi-bounding-box-circles d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Graph</small></span>
                            </a>
                        </div>

                        <div class="col">
                            <a href="{{url_for('search', vault=vault)}}" class="btn btn-primary w-100" title="Search">
                                <i class="bi bi-search d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Search</small></span>
                            </a>
                        </div>

                        <div class="col">
                            <a id="themeToggle" class="btn btn-primary w-100" title="Dark/Light mode">
                                <i class="bi bi-moon d-none d-sm-inline"></i>
                                <span class="d-inline d-sm-none"><small>Theme</small></span>
                            </a>
                        </div>
                    </div>
                </div>

                <p></p>
                <div class="collapse show" id="navtreeCollapse">
                    <div class="card p-3 flex-grow-1 mb-2" style="max-height: 480px;  overflow-y:auto;">
                        {{ navtree|safe }}
                    </div>


                </div>




            </div>
        </div>

        <!-- Collapsed sidebar button -->
        <div id="sidebarCollapsedBtn"
            style="width:30px; cursor:pointer; display:none; align-items:center; justify-content:center; background:#f8f9fa; border-right:1px solid #ddd;">
            ▶
        </div>

        <!-- Main content -->
        <div id="page-content" class="flex-grow-1 p-3" style="overflow:auto;">
            <div id="page-content-wrapper">
                {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
            </div>

            {% block content %}{% endblock %}

            {% block footer %}
            {{ render_footer(injected_vars["version"]) }}
            {% endblock %}
        </div>

    </div>

    <script>
        const sidebar = document.getElementById('sidebar');
        const toggleBtn = document.getElementById('toggleSidebar');
        const collapsedBtn = document.getElementById('sidebarCollapsedBtn');

        // Проверяем состояние при загрузке страницы
        window.addEventListener('DOMContentLoaded', () => {
            const collapsed = localStorage.getItem('sidebarCollapsed');
            if (collapsed === 'true') {
                sidebar.style.display = 'none';
                collapsedBtn.style.display = 'flex';
            }
        });

        // Сворачивание
        toggleBtn.addEventListener('click', () => {
            sidebar.style.display = 'none';
            collapsedBtn.style.display = 'flex';
            localStorage.setItem('sidebarCollapsed', 'true');
        });

        // Разворачивание
        collapsedBtn.addEventListener('click', () => {
            sidebar.style.display = 'flex';
            collapsedBtn.style.display = 'none';
            localStorage.setItem('sidebarCollapsed', 'false');
        });
    </script>



    <script>
        const alertsContainer = document.getElementById('page-content-wrapper');
        const messagesUrl = "{{ url_for('messages', vault=vault) }}?unread=0";
        let lastTimestamp = 0; // чтобы показывать только новые сообщения

        function showAlert(message, type = 'success') {
            const wrapper = document.createElement('div');
            wrapper.innerHTML = `
      <div class="alert alert-${type} alert-dismissible fade show" role="alert">
        <a href=${messagesUrl}>${message}</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`;
            alertsContainer.append(wrapper);

            // auto-remove in 5 secs
            setTimeout(() => {
                const alertNode = bootstrap.Alert.getOrCreateInstance(wrapper.querySelector('.alert'));
                alertNode.close();
            }, 5000);
        }

        async function fetchMessages() {
            try {
                let cnt = 0
                const res = await fetch('{{url_for("messages", vault = vault)}}?raw=1');
                if (!res.ok) throw new Error('Network error');
                const data = await res.json();

                for (const msg of data) {
                    cnt += 1
                    if (cnt <= 3) {  // only first 3, don't spam
                        let type = 'success';
                        if (msg.type === 1) type = 'warning';
                        else if (msg.type === 2) type = 'danger';

                        showAlert(
                            msg.message + (msg.user ? `<br><pre>${msg.details}</pre></div>` : ''),
                            type
                        );
                    }
                }
            } catch (err) {
                console.error('Failed to fetch messages', err);
            }
        }

        // first request at start
        fetchMessages();

        // then asking every time set in config
        setInterval(fetchMessages, {{ injected_vars["config"].vaults[vault].message_fetch_time * 1000 }});
    </script>



   

    <script type="module">
        import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ startOnLoad: true });
    </script>




</body>
 <script src="{{url_for('static', filename='darkmode.js')}}"></script> 



</html>