{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script src="{{ url_for('static', filename='bases_iframe.js') }}"></script>
<h1>Editor:
  <code><a href="{{url_for('get_folder', vault=vault, subpath=curdir)}}">{{curdir}}</a>/{{curfile.split('/')[-1]}}</code>
</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">

<div id="save-status">(saved)</div>

<div class="flo-btn-group">
  <a class="flo-btn" title="Autocomplete" id="flo-autocomplete-btn"><i class="bi bi-alphabet"></i></a>

  <a class="flo-btn" title="Save" id="flo-save-btn"><i class="bi bi-floppy"></i></a>
  <a class="flo-btn" title="View mode" id="flo-toggle-btn"
    href="{{url_for('renderer', vault = vault, subpath = path)}}"><i class="bi bi-eye"></i></a>

  <a class="flo-btn" title="Download" id="flo-download-btn"
    href="{{url_for('get_file', vault = vault, subpath = path)}}"><i class="bi bi-download"></i></a>

</div>

<div id="container">

  {% if preview %}
  <textarea id="editor" class="form-control">{{markdown_text}}</textarea>
  <div id="preview" class="d-none d-lg-block">{{markdown_html|safe}}</div>
  {% else %}
  <textarea id="editor" style="width: 100%;" class="form-control">{{markdown_text}}</textarea>
  {% endif %}
</div>

<script>
  var easyMDE = new EasyMDE({
    element: document.getElementById("editor"),
    spellChecker: false,
    status: false,
    toolbar: [
      "bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "|",
      {
        name: "unchecked-checkbox",
        action: function customFunction(editor) {
          const cm = editor.codemirror;
          const selectedText = cm.getSelection();
          const output = "- [ ] " + selectedText;
          cm.replaceSelection(output);
        },
        className: "fa fa-square-o",
        title: "Add TODO",
      },
      {
        name: "checked-checkbox",
        action: function customFunction(editor) {
          const cm = editor.codemirror;
          const selectedText = cm.getSelection();
          const output = "- [x] " + selectedText;
          cm.replaceSelection(output);
        },
        className: "fa fa-check-square-o",
        title: "Add checked TODO",
      },
      "|", "link", "image", "|", "preview", "side-by-side", "fullscreen"
    ]
  });
  {% if not preview %}
  document.querySelector('.EasyMDEContainer').style.width = "100%";
  {% endif %}
</script>
<div id="autocomplete" style="position:absolute; display:none; background:white; border:1px solid #ccc; z-index:1000;">
</div>





<script>
  const editor = document.getElementById('editor');
  const save_status = document.getElementById('save-status');

  const saveBtn = document.getElementById('flo-save-btn');
  const alertPlaceholder = document.getElementById('page-content-wrapper');

  let saveTimeout = null;
  const SAVE_DELAY = {{ injected_vars["config"].vaults[vault].autosave_time * 1000 }};
  let isDirty = false;


  function showAlert(message, type = 'success') {
    const wrapper = document.createElement('div');
    wrapper.innerHTML = `
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`;
    alertPlaceholder.append(wrapper);

    // autodelete every 5 seconds
    setTimeout(() => {
      const alertNode = bootstrap.Alert.getOrCreateInstance(wrapper.querySelector('.alert'));
      alertNode.close();
    }, 5000);
  }

  {% if preview %}
  function updateMath(){
    renderMathInElement(document.body, {
          delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
              {left: "\\(", right: "\\)", display: false},
              {left: "\\[", right: "\\]", display: true}
          ]
      });
  }

  function isPreviewVisible() {
    const computedStyle = window.getComputedStyle(preview);
    return computedStyle.display !== 'none';
  }
  {% endif %}

  function saveDocument() {
    const content = easyMDE.value();
    fetch('{{url_for("save_file", vault=vault, subpath=path)}}', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ content })
    })
      .then(res => {
        if (res.ok) {
          isDirty = false;
          save_status.innerText = '(saved)'
          {% if preview %}
          // review update only if the preview is shown
          if (isPreviewVisible()) {
            return fetch('{{ url_for("preview", vault=vault, subpath=path) }}')
              .then(res => res.json())
              .then(data => {
                if (data.content !== undefined) {
                  preview.innerHTML = data.content;
                  updateMath();
                  updateMermaid();
                } else {
                  showAlert('Error: server did not return content', 'danger');
                }
              });
          }
          {% endif %}
        }
      })
      .catch(err => console.error(err));
  }

  easyMDE.codemirror.on("change", () => {
    isDirty = true;
    save_status.innerText = '(unsaved)';
    if (saveTimeout) clearTimeout(saveTimeout);
    saveTimeout = setTimeout(saveDocument, SAVE_DELAY);
  });

  // save button
  saveBtn.addEventListener('click', (e) => {
    e.preventDefault(); // prevent from reloading
    saveDocument();
  });

  // warning when leaving the page
  window.addEventListener('beforeunload', (e) => {
    if (isDirty) {

      e.preventDefault();
      e.returnValue = '';
    }
  });
</script>
<script>
  async function fetchSuggestions(context) {
    let resp = await fetch('{{url_for("show_hint", vault = vault, context=context)}}', {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ context })
    });
    return await resp.json(); // [{text: "...", erase: N}, ...]
  }


</script>

<!-- math support -->
 {% if preview %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    updateMath();
});
</script>

{% endif %}


<script>
  let url_autocomplete = '{{url_for("show_hint", vault=vault)}}'
</script>
<script src="{{url_for('static', filename='autocomplete.js')}}"></script>




{% endblock %}