{% extends 'base_novault.html' %}

{% block content %}

<div class="topbar">

    <h1 class="text-center d-flex align-items-center justify-content-center gap-2">

        <img src="{{ url_for('static', filename='logo_small.png') }}" alt="Logo"
            style="height: 1.5em; width: 1.5em; border-radius: 50%; background-color: var(--bs-body-color); padding: 2px;">

        OBSIFLASK
    </h1>
    {% if injected_vars['config'].auth.enabled %}
    <h4 class="text-center d-flex align-items-center justify-content-center gap-2">Hello, {{ current_user.username }}!
    </h4>
    {% endif %}

    <br />
    <div class="container">

        <button id="themeToggle" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-moon"></i> Dark/Light mode
        </button>
        {% if injected_vars['config'].auth.enabled %}

        <a class="btn btn-outline-secondary btn-sm" href="{{url_for('user')}}">
            <i class="bi bi-person"></i> User settings
        </a>

        {% if current_user.is_root %}
        <a class="btn btn-outline-secondary btn-sm" href="{{url_for('root')}}">
            <i class="bi bi-gear-fill"></i> Root panel
        </a>
        {% endif %}
        {% endif %}
        {% if ((injected_vars['config'].auth.enabled) and (current_user.is_root)) or
        (injected_vars['config'].auth.sessions_without_auth) %}

        <a class="btn btn-outline-secondary btn-sm" href="{{url_for('sessions')}}">
            <i class="bi bi-window-fullscreen"></i> Session history
        </a>
        {% endif %}
        {% if injected_vars['config'].auth.enabled %}
        <a class="btn btn-outline-secondary btn-sm" href="{{url_for('logout')}}">
            <i class="bi bi-door-closed"></i> Log out
        </a>

        {% endif %}
    </div>
</div>
<hr>
<div class="container">

    <h2 class="mb-4">Available Vaults</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for vault in vaults %}
        <div class="col">
            <div class="card vault-card h-100 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{ vaults[vault].title or vault }}</h5>
                    {{vaults[vault].description}}
                    <a href="{{ url_for('renderer_root', vault=vault) }}" class="btn btn-primary mt-3">
                        Open Vault
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}