{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='renderer.css') }}">
<script src="{{ url_for('static', filename='bases_iframe.js') }}"></script>
<h1>Showing
  <code><a href="{{url_for('get_folder', vault=vault, subpath=curdir)}}">{{curdir}}</a>/{{curfile.split('/')[-1]}}</code>
</h1>

<div class="flo-btn-group">
  <a id="flo-toggle-btn" class=" flo-btn" title="Edit mode"
    href="{{url_for('editor', vault = vault, subpath = path)}}"><i class="bi bi-pencil"></i></a>
  <a id="flo-download-btn" class=" flo-btn" title="Download"
    href="{{url_for('get_file', vault = vault, subpath = path)}}"><i class="bi bi-download"></i></a>

</div>



<div id="container">
  {{ markdown_text|safe }}
</div>


<!-- math support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
        delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: "$", display: false},
            {left: "\\(", right: "\\)", display: false},
            {left: "\\[", right: "\\]", display: true}
        ]
    });
});
</script>

{% endblock %}