{% extends 'base_novault.html' %}
{% from 'bootstrap5/form.html' import render_form%}

{% block content %}
<div class="container">
  <h1>Root panel</h1>
  <a class="btn btn-secondary" href="{{url_for('index')}}">To index</a>
  <hr/>
  <h2> New user create</h2>
  {{ render_form(form) }}
  <hr />

  <br />
  <h2> Users</h2>

  <table class="table">
    <thead>
      <tr>

        <th scope="col">User</th>
        <th scope="col"> Role </th>
        <th scope="col"> Vaults </th>
        <th scope="col"> Actions </th>

      </tr>
    </thead>
    <tbody>

      {% for user in users %}
      <tr>
        <td>{{user["username"]}}</td>

        {% if user["is_root"] %}

        <td>Super-user</td>
        {% else %}
        <td>User</td>
        {% endif %}
        <td>
          <input value="{{user['vaults']}}" id="vaults-{{user['username']}}">
        </td>

        <td>
          <a href="" id="vaultupdate-{{user['username']}}">Update vaults</a>

          <script>
            document.getElementById("vaultupdate-{{user['username']}}").addEventListener("click", function (event) {
              event.preventDefault();
              const val = document.getElementById("vaults-{{user['username']}}").value;
              window.location.href = "{{url_for('root', op='vault', user=user['username'])|safe}}\&vaults=" + encodeURIComponent(val);
            });
          </script>

          {% if user["is_root"] %}
          <a href="{{url_for('root', op='rights', user=user['username'])}}">Drop super-user rights</a>
          {% else %}
          <a href="{{url_for('root', op='rights', user=user['username'])}}">Grant super-user rights</a>
          {% endif %}
          <a href="{{url_for('root', op='pwd', user=user['username'])}}">Drop password</a>

          <a href="{{url_for('root', op='delete', user=user['username'])}}">Delete user</a>


        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  <hr /><a class="btn btn-secondary" href="{{url_for('index')}}">To index</a>
</div>
{% endblock %}