{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/form.html' import render_form%}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bases/shared.html' import render_view_list, render_cards %}
<!DOCTYPE html>
<html lang="en">

<style>
  .tabulator-col .tabulator-col-title {
    white-space: normal !important;
    word-break: break-word;
    text-align: center;
    /* по желанию */
  }
</style>

<head>
  <base target="_top">
  <meta charset="UTF-8">
  {{ bootstrap.load_css() }}

</head>

<body>

  <h3>Base: <a href="{{url_for('base', vault=vault, subpath=path)}}">{{path}}</a></h3>
  <a href="{{url_for('base', vault=vault, subpath=path)}}?refresh=1">Refresh</a>
  <br />

  {{render_view_list(current_view, all_views)}}

  <link href="https://unpkg.com/tabulator-tables@5.6.0/dist/css/tabulator.min.css" rel="stylesheet">
  <script src="https://unpkg.com/tabulator-tables@5.6.0/dist/js/tabulator.min.js"></script>


  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    #app {
      width: 100%;
      height: 100%;
      max-width: 100vw;
      max-height: 100vh;
    }
  </style>


{{render_cards(table, vault)}}


</body>