{% macro render_cards(table, vault) %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for card in table %}
    <div class="col">
        <div class="card vault-card h-100 shadow-sm">
            <div class="card-body d-flex flex-column justify-content-between">
                {% if 'cover' in card and card['cover'] %}
                <img src="{{url_for('get_file', vault=vault, subpath=card['cover'])}}"
                    style="width:200px; height:200px; object-fit: contain;">
                {% endif %}
                {% for key, value in card.items() %}
                {% if key != 'cover'%}
                <strong>{{key}}:</strong>{{value|safe}}
                {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_view_list(current_view, all_views) %}
{% if all_views|length > 1 %}
<select id="view-select">
    {% for view in all_views %}
    {% if view[0] == current_view %}
    <option value="{{view[1]}}" selected>Current view: {{view[0]}}</option>
    {% else %}
    <option value="{{view[1]}}">{{view[0]}}</option>
    {% endif %}
    {% endfor %}
</select>
<script>
    document.getElementById("view-select").addEventListener("change", function () {
        if (this.value) {
            window.location.href = this.value;
        }
    });
</script>
{% endif %}
{% endmacro %}
{% macro render_table_view(table) %}
// Получаем цвета Bootstrap
const root = document.documentElement;
const bgColor = getComputedStyle(root).getPropertyValue('--bs-body-bg').trim();
const textColor = getComputedStyle(root).getPropertyValue('--bs-body-color').trim();
const headerBg = getComputedStyle(root).getPropertyValue('--bs-primary').trim();
const headerText = getComputedStyle(root).getPropertyValue('--bs-white').trim();


// получаем данные из Jinja
const data = {{ table | safe }};

let table; // объявляем переменную в верхнем скоупе

if (data.length === 0) {
document.getElementById("base-table").innerHTML = "No data";
} else {
const columns = Object.keys(data[0]).map(k => {
return {
title: k.charAt(0).toUpperCase() + k.slice(1),
field: k,
headerFilter: "input",
formatter: k === 'file_name' ? "html" : undefined
};
});

table = new Tabulator("#base-table", {
layout: "fitColumns",
pagination: "local",
paginationSize: 100,
columns: columns,
data: data,
// Подключаем цвета темы
rowFormatter: function(row){
        const el = row.getElement();
        const idx = row.getPosition();
        el.style.backgroundColor = bgColor;
        el.style.color = textColor;
    },
});
}

{% endmacro %}