{% extends 'base.html' %}
{% from 'bases/shared.html' import render_cards, render_view_list %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='base_views.css') }}">
<h1>Base: <code><a href="{{url_for('get_folder', vault=vault, subpath=curdir)}}">{{curdir}}</a>/{{curfile.split('/')[-1]}}</code></h1>
<br />
  
  {{render_view_list(current_view, all_views)}}
<p></p>

<div class="flo-btn-group">
  <a id="flo-refresh-btn"  class="flo-btn" title="Refresh base" href="{{url_for('base', vault = vault, subpath = path, refresh=1, view=current_view)}}"><i class="bi bi-arrow-clockwise"></i></a>
  <a id="flo-toggle-btn"  class="flo-btn" title="Edit mode" href="{{url_for('editor', vault = vault, subpath = path)}}"><i class="bi bi-pencil"></i></a>
    <a id="flo-download-btn"  class="flo-btn" title="Download" href="{{url_for('get_file', vault = vault, subpath = path)}}"><i
      class="bi bi-download"></i></a>
</div>
{{ render_cards(table, vault)}}

<script>
function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
}

// --- обработка параметра ---
const myParam = getQueryParam("refresh");
if (myParam) {
    
    // --- убираем параметр из URL ---
    const url = new URL(window.location);
    url.searchParams.delete("refresh"); // удаляем
    window.history.replaceState({}, document.title, url);
}
</script>

{% endblock %}