{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/form.html' import render_form%}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bases/shared.html' import render_table_view, render_view_list %}
<!DOCTYPE html>
<html lang="en">


<head>
<base target="_top">
  <meta charset="UTF-8">
  {{ bootstrap.load_css() }}

</head>

<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='base_views.css') }}">
  <h3>Base: <code><a href="{{url_for('base', vault=vault, subpath=path)}}">{{path}}</a></code></h3>
  <a href="{{url_for('base', vault=vault, subpath=path)}}?refresh=1&view={{current_view}}">Refresh</a>
  <br/>
  
  {{render_view_list(current_view, all_views)}}

  <link href="https://unpkg.com/tabulator-tables@5.6.0/dist/css/tabulator.min.css" rel="stylesheet">
  <script src="https://unpkg.com/tabulator-tables@5.6.0/dist/js/tabulator.min.js"></script>

  <div id="base-table"></div>


  <script>
    {{ render_table_view(table) }}
  </script>
</body>