{% extends 'base.html' %}
{% from 'bases/shared.html' import render_table_view, render_view_list %}
{% block content %}
<h1>Base: <code><a href="{{url_for('get_folder', vault=vault, subpath=curdir)}}">{{curdir}}</a>/{{curfile.split('/')[-1]}}</code></h1>

{{render_view_list(current_view, all_views)}}
<p></p>
<link rel="stylesheet" href="{{ url_for('static', filename='base_views.css') }}">
<link href="https://unpkg.com/tabulator-tables@5.6.0/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@5.6.0/dist/js/tabulator.min.js"></script>

<div id="base-table"></div>



<div class="flo-btn-group">
  <a id="flo-table-btn"  title="CSV export"><i class="bi bi-file-earmark-spreadsheet-fill flo-btn"></i></i></a>
  <a id="flo-refresh-btn"  title="Refresh base" class="flo-btn"  href="{{url_for('base', vault = vault, subpath = path)}}?refresh=1&view={{current_view}}"><i
      class="bi bi-arrow-clockwise"></i></a>
  <a id="flo-toggle-btn"  class="flo-btn"   title="Edit mode" href="{{url_for('editor', vault = vault, subpath = path)}}"><i class="bi bi-pencil"></i></a>
  <a id="flo-download-btn"  class="flo-btn"  title="Download"  href="{{url_for('get_file', vault = vault, subpath = path)}}"><i
      class="bi bi-download"></i></a>
  
  
</div>

<script>
  {{ render_table_view(table) }}

  // вешаем обработчик только если таблица существует
  document.getElementById("flo-table-btn").addEventListener("click", () => {
    if (table) {
      table.download("csv", "data.csv");
    } else {
      alert("No table to export");
    }
  });
</script>

<script>
  function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }

  // --- обработка параметра ---
  const myParam = getQueryParam("refresh");
  if (myParam) {

    // --- убираем параметр из URL ---
    const url = new URL(window.location);
    url.searchParams.delete("refresh"); // удаляем
    window.history.replaceState({}, document.title, url);
  }
</script>

{% endblock %}